@using IronBoots.Models.Orders
@model IEnumerable<OrderIndexViewModel>

@{
    ViewData["Title"] = "All Orders";
}

<div class="container mt-4">
    <h1>Orders</h1>
    <div class="row mt-4">
        @if (!Model.Any())
        {
            <div class="col-12">
                <p class="fs-3">No orders available. Add some to get started!</p>
            </div>
        }
        else
        {
            @foreach (var order in Model)
            {
                <div class="col-md-4 mb-4">
                    <a asp-action="Details" asp-controller="Order" asp-route-id="@order.Id" class="text-decoration-none">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Order ID: @order.Id</h5>
                                <p class="card-text"><strong>Client:</strong> @order.Client.Name</p>
                                <p class="card-text"><strong>Total Price:</strong> @order.TotalPrice lv.</p>
                                <p class="card-text"><strong>Assigned Date:</strong> @order.AssignedDate</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>